@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    background: #EBEBEB;
}

.bg-menu {
    background: #D98324;
    color: white;

}

.bg-menu .nav-link{
color: white;
font-weight: 600;
transition: all 0.3s ease;
}

.bg-menu .nav-link:hover{
    color: black;
    transform: translateY(-3%);
    border-bottom: 2px solid #D98324;
}
.bg-menu .nav-logo, img{
    color: white;
}

.carousel-item{
    width: 100%;
    position: relative;
}

.container-header{
    justify-content: space-between;
}

.carousel-item h5 {
 color: white;
 font-size: 20px;
 font-family: 'Libre Baskerville', serif;

}

.formulario{
    color: #212121;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    padding: 60px 70px;
    box-sizing: border-box;

}

.form-control, .form-select{
    border: none;
    background: none;
    outline: 0;
    border-bottom: 2px solid #D98324;

}

.btn-form{
    padding: 8px 9px;
    background: #D98324;
    color: white;
    border: 0;
    text-transform: uppercase;
    transition: all .3s;
}

.btn-form:hover{
    color: #134074;
    background-color: aliceblue;
}

.carousel-item p{
    color: white;
    font-family: 'Libre Baskerville', serif;

}
nav{
    position: fixed limportant;
    color: aliceblue;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}


#Nosotros{
    width: 100%;
    position: relative;
    padding: 150px 0;
}

#Nosotros img{
    width: 500px;
    max-width:80%;

    display: block;
    margin: 0 auto;

}


#Nosotros h1{
    color: white;
    padding-top: 50px;
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    border-bottom: 6px solid #0b132b;
    display: inline-block;
    margin-bottom: 60px;
}

#Nosotros a{
    padding: 10px 50px;
    background: #0b132b;
    color: white;

    font-size: 20px;
    border-radius: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 200;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    max-width: 250px;
    transition: .3s;
}

#Nosotros p{
  font-family: 'Libre Baskerville', serif;
    color: white;
}


#Nosotros a:hover{
    background: white;
    border-radius: 20px;
    color: #0b132b;


}



#Pasos {
    font-family: 'Libre Baskerville', serif;
}

#Pasos h3 {
    padding-top: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    text-align: center;

    display: block;
    margin-bottom: 60px;
}

#Pasos .card-estilo{
    border-radius: 10px;
    background-color: #D98324;
    color: white;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;

}
#Pasos .texto-p{
    color: #212121;
}

#Pasos .card-estilo:hover{
    background: white;
    color: #212121;
    box-shadow: 5px 5px 20px rgb(0,0,0,0.2);
    transform: translateY(-3%); 

}

#carousel {
    position: absolute;
    height: 200px;
    width: 810px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#Compras{
  font-family: 'Libre Baskerville', serif;
    width: 500px;
    max-width:80%;
    padding: 20px 10px 0 ;
    display: inline;
    margin: 0 auto;
}

#Compras h1{
    color: black;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 30 px;
}

#Compras a{
    padding: 5px 40px;
    background: transparent;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Libre Baskerville', serif;
    font-weight: 300;
    text-decoration: none;
    display: block;
    margin-top: 60px;
    max-width: 200px;
    transition: .3s; 
}

#Compras a:hover{
    background-color: #212121;
    color: azure;

  
}

#Servicios{
    width: 100%;
    position: relative;
    padding: 50px 0; 
}


#Servicios h2{
    color: black;
    font-size: 36px;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 6px solid #D98324;
    display: inline-block;
    margin-bottom: 80px;
}



#Servicios h2 span{
    font-size: 60px;
    font-family: 'Libre Baskerville', serif;
}

#Servicios .card-servicio{
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-top: 20px;
    
}

#Servicios .card-servicio::after{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    content: "";
    background: #1340748e;
    transition: .5s;
}


#Servicios .card-servicio a {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    position: absolute;
    z-index: 9;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
    transition: .5s;
    border-radius: 4px;
}


#Servicios .card-servicio:hover a{
    background: white;
    color: #D98324;
    bottom: 48%;
}

#Servicios .card-servicio:hover::after{
    background-color: #94c7f0a1;
}

#Comentarios{
    width: 100%;
    position: relative;
    padding: 100px 0;
    background:#70b4eb ;
    background-size: cover;
    background-position: center;
}

#Comentarios blockquote, p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0 50px;

}

#Contacto {
    background: white;
    width: 100%;
    position: relative;
    padding: 80px 0;
}

 

footer{
    background-color: #D98324;
    color: aliceblue;
    padding: 40px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}